---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-gradient">My Astro Project!</span></h1>
		<br>
		<br>
		<div id="heart"></div>
	</main>
</Layout>

<style>
	#heart{
		width: 100px;
		height: 100px;
		background-color: red;
		position: relative;
		transform: rotate(-45deg);
		box-shadow: -10px 10px 90px red;
		animation: heart 0.75s linear infinite;
	}
	@keyframes heart{
		0%{
		transform: rotate(-45deg) scale(1.07)
		}
		80%{
		transform: rotate(-45deg) scale(1.0)
		}
		100%{
		transform: rotate(-45deg) scale(0.8)
		}
	}
	#heart:before{
		top: -50px;
		content: '';
		width: 100px;
		height: 100px;
		background-color: red;
		position: absolute;
		border-radius: 50px;

	}
	
	#heart:after{
		right: -50px;
		content: '';
		width: 100px;
		height: 100px;
		background-color: red;
		position: absolute;
		border-radius: 50px;
	}
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
<script>

</script>